/* Common styling for both Signin and Signup */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.auth-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    justify-content: center;
}

.auth-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.auth-form form {
    display: flex;
    flex-direction: column;
}

.auth-form input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.auth-form button {
    padding: 0.75rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.auth-form p {
    margin-top: 1rem;
}

.auth-form a {
    color: #007BFF;
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}

/* Media Queries for responsive design
@media (max-width: 768px) {
    .auth-form {
        padding: 1.5rem;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .auth-form {
        padding: 1rem;
    }

    .auth-form h2 {
        font-size: 1.5rem;
    }

    .auth-form input,
    .auth-form button {
        font-size: 0.875rem;
        padding: 0.5rem;
    }
} */
